{% extends 'base.html' %}
{%  block page_content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto news-container">
            {% if queryset %}
            {% for i in queryset %}
            <div class="news-item">
                <a href="{{i.url}}" class="text-decoration-none"><h2 class="news-title">{{i.title}}</h2></a>
                <p class="news-meta">Author: {{i.author}} | Published: {{ i.publishedAt|slice:"0:10" }}</p>
                <img src="{{i.urlToImage}}" alt="{{i.title}}" class="img-fluid news-image">
                <p class="news-description">{{i.description| linebreaks | truncatewords:100}}</p>
                <div align="right">
                    <a href="{{i.url}}" class="btn btn-primary">More</a></div>
            </div>
            {% endfor %}
            {% else %}
            <h2>Sorry, no matches were found.
                Try a new search.
            </h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}